<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/classes.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <title>Video class</title>
  </head>
  <body>
    <header class="header">
      <figure class="header_wrapper-logo">
        <img 
        alt="Logo" class="header_logo-img" src="images/logo_small.png"
        height="60px" width="150px" />
      </figure>
      <nav class="header_nav">
        <ul class="wrapper_nav">
          <li class="nav-item">
            <a href="/">Home</a>
          </li>
          <li class="nav-item">Courses</li>
          <li class="nav-item">
            <a href="/classes">Class</a>
          </li>
          <li class="nav-item">Foro</li>
        </ul>
        <figure class="wrapper_profile">
          <img
            src="images/profile.png"
            alt="Profile user"
            class="profile_image"
          />
        </figure>
        <p class="profile_name">Osvaldo Trejo</p>
      </nav>
    </header>
    <section class="video-wrapper">
      <article class="wrapper-media-comments">
        <iframe
          width="800"
          height="500"
          src="https://www.youtube.com/embed/RkYuH_K7Fx4"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div class="wrapper-title-button">
          <h3>¿Qué es en EMBEDDING - NLP?</h3>
          <div class="next-button">Next</div>
        </div>
      </article>
      <article class="comments-article">
        <h2>Comments</h2>
        <textarea name="columns" id="" cols="80" rows="10"></textarea>
        <div class="send-button">Send</div>
      </article>
    </section>
  </body>
</html>
